<app-header> </app-header>
<app-navbar></app-navbar>
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img" />
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>REGISTER Page</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Register</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container">
  <div class="row py-5 mt-4 align-items-center">
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
      <img
        src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg"
        alt=""
        class="img-fluid mb-3 d-none d-md-block"
      />
      <h1>Create an Account</h1>
    </div>

    <!-- Registeration Form -->
    <div class="col-md-7 col-lg-6 ml-auto">
      <form action="#">
        <div class="row">
          <app-message></app-message>
        </div>
        <div class="row">
          <!-- First Name -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span
                class="input-group-text bg-white px-4 border-md border-right-0"
              >
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
            <input
              id="nom"
              type="text"
              name="nom"
              placeholder="Name"
              class="form-control bg-white border-left-0 border-md"
              [(ngModel)]="nom"
            />
          </div>

          <!-- First Name -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span
                class="input-group-text bg-white px-4 border-md border-right-0"
              >
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
            <input
              id="prenom"
              type="text"
              name="prenom"
              placeholder="Prenom"
              class="form-control bg-white border-left-0 border-md"
              [(ngModel)]="prenom"
            />
          </div>

          <!-- Email Address -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span
                class="input-group-text bg-white px-4 border-md border-right-0"
              >
                <i class="fa fa-envelope text-muted"></i>
              </span>
            </div>
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Email Address"
              class="form-control bg-white border-left-0 border-md"
              [(ngModel)]="email"
            />
          </div>

          <!-- Password -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span
                class="input-group-text bg-white px-4 border-md border-right-0"
              >
                <i class="fa fa-lock text-muted"></i>
              </span>
            </div>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Password"
              class="form-control bg-white border-left-0 border-md"
              [(ngModel)]="password"
            />
          </div>

          <!-- Password Confirmation -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span
                class="input-group-text bg-white px-4 border-md border-right-0"
              >
                <i class="fa fa-lock text-muted"></i>
              </span>
            </div>
            <input
              id="passwordConfirmation"
              type="password"
              name="passwordConfirmation"
              placeholder="Confirm Password"
              class="form-control bg-white border-left-0 border-md"
              [(ngModel)]="password1"
            />
          </div>

          <!-- Submit Button -->
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="register()"
            [disabled]="btnDisabled"
          >
            Register
          </button>

          <!-- Divider Text -->
          <div
            class="form-group col-lg-12 mx-auto d-flex align-items-center my-4"
          >
            <div class="border-bottom w-100 ml-5"></div>
            <span class="px-2 small text-muted font-weight-bold text-muted"
              >OR</span
            >
            <div class="border-bottom w-100 mr-5"></div>
          </div>

          <!-- Social Login -->
          <div class="form-group col-lg-12 mx-auto">
            <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
              <i class="fa fa-facebook-f mr-2"></i>
              <span class="font-weight-bold">Continue with Facebook</span>
            </a>
            <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
              <i class="fa fa-twitter mr-2"></i>
              <span class="font-weight-bold">Continue with Twitter</span>
            </a>
          </div>

          <!-- Already Registered -->
          <div class="text-center w-100">
            <p class="text-muted font-weight-bold">
              Already Registered?
              <a routerLink="/login" class="text-primary ml-2">Login</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- / Cart view section -->
<app-footer></app-footer>
