<app-navbar-admin></app-navbar-admin>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/listCategory">
              <span data-feather="file"></span>
              Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/listProduct">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/listOrders">
              <span data-feather="users"></span>
              Orders
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <section id="postProduct">
        <div class="container p-5">
          <h4 class="display-4" class="p-3 mb-2 bg-warning text-dark">
            Detail of {{ products.name }}
          </h4>
          <hr />
          <app-message></app-message>
          <div *ngIf="!products" class="m-auto">
            <h1 class="text-center display-3 mt-5">
              <i class="fa fa-spinner fa-spin"></i>
            </h1>
          </div>
          <div *ngIf="products" class="card bg-light">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label>Name : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                  >
                    {{ products.name }}</label
                  >
                </div>

                <div class="form-group">
                  <label>Marque : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                    >{{ products.marque }}</label
                  >
                </div>

                <div class="form-group">
                  <label>Stock : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                  >
                    {{ products.stock }}</label
                  >
                </div>

                <div class="form-group">
                  <label>Prix : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                    >{{ products.prix }}</label
                  >
                </div>

                <div class="form-group">
                  <label>is In Promo : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                  >
                    <div *ngIf="products.isInPromo == 0">No</div>
                    <div *ngIf="products.isInPromo == 1">Yes</div>
                  </label>
                </div>
                <div *ngIf="products.isInPromo == 1">
                  <div class="form-group">
                    <label>Prix Promotion : </label>
                    <label
                      class="form-control-label"
                      class="text-secondary"
                      class="h5"
                      >{{ products.prixPromotion }}</label
                    >
                  </div>

                  <div class="form-group">
                    <label>Promo Percentage : </label>
                    <label
                      class="form-control-label"
                      class="text-secondary"
                      class="h5"
                      >{{ products.promoPercentage }} %</label
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label>Is Sponsor : </label>
                  <label
                    class="form-control-label"
                    class="text-secondary"
                    class="h5"
                    >{{ products.isSponsor }}</label
                  >
                </div>

                <div class="form-group">
                  <label>Features : </label>
                  <tr *ngFor="let feature of products.features">
                    <td>{{ feature.name }}</td>

                    <td>
                      <button
                        class="btn btn-outline-warning"
                        routerLink="/dashboard/editFeature/{{ feature.id }}"
                        type="button"
                      >
                        Edit
                      </button>
                      <button
                        (click)="deleteFea(feature.id)"
                        class="btn btn-outline-danger"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </div>

                <div class="form-group">
                  <label>Description : </label>
                  <tr *ngFor="let description of products.descriptions">
                    <td>{{ description.name }}</td>

                    <td>
                      <button
                        class="btn btn-outline-warning"
                        routerLink="/dashboard/editDescription/{{
                          description.id
                        }}"
                        type="button"
                      >
                        Edit
                      </button>
                      <button
                        (click)="deleteDesc(description.id)"
                        class="btn btn-outline-danger"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </div>

                <div class="form-group">
                  <label>Accessories : </label>
                  <tr *ngFor="let accessorie of products.accessories">
                    <td>{{ accessorie.name }}</td>
                    <td>
                      <button
                        class="btn btn-outline-warning"
                        routerLink="/dashboard/editAccessoire/{{
                          accessorie.id
                        }}"
                        type="button"
                      >
                        Edit
                      </button>
                      <button
                        (click)="deleteAcc(accessorie.id)"
                        class="btn btn-outline-danger"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
